.user-list-card {
  width: 90%;
  margin: 2rem;

  mat-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  table {
    width: 100%;
  }

  .mat-column-actions{
    width: 8rem;
  }
}
