<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Create Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper #stepper>
      <mat-step [label]="firstStep">
        <fu-create-form></fu-create-form>
      </mat-step>
      <mat-step [label]="secondStep">
        <fu-assign-form></fu-assign-form>
      </mat-step>
      <mat-step [label]="thridStep">
        <p>You are now done!.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
