.assign-group-container{
  display: flex;
  align-items: start;
}

.assign-form-card {
  width: 30rem;
  margin: 2rem;

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  form{
    display: flex;
  }
}

table {
  width: 100%;
}

.mat-column-user,.mat-column-group {
  width: 80%;
}

.add-button {
  height: 3.6em;
  margin-top: 0.3em;
  margin-left: -1.125em;
  border-radius: 0 0.5em 0.5em 0;
}

.field-add {
  width: 100%;
  height: 0;
}
