@import "/src/app/general/shared/styles/variables";

/* You can add global styles to this file, and also import other style files */
// @import '~@asoftwareworld/form-builder/theming/theming-bundle.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f4;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-action {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5em;
  &:hover {
    color: $main-color;
  }
}

.mat-toggle {
  mat-label {
    margin-right: 1em;
  }
}
