<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="userForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formna
          formControlName="email"
          placeholder="mail@example.com"
        />
        <mat-error *ngIf="getControl('email').hasError('email') && !getControl('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="getControl('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="admin">Administrator</mat-option>
          <mat-option value="user">User</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>User Group</mat-label>
        <mat-select formControlName="userGroup">
          <mat-option value="group1">User group 1</mat-option>
          <mat-option value="group2">User group 2</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Create</button>
  </mat-card-actions>
</mat-card>
