<mat-card class="user-card">
  <button mat-button color="primary" [routerLink]="['/users']" class="back-button">Back to User List</button>
  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="userForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formna
          formControlName="email"
          placeholder="mail@example.com"
        />
        <mat-error
          *ngIf="
            getControl('email').hasError('email') &&
            !getControl('email').hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="getControl('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mat-toggle">
        <mat-label>User is active</mat-label>
        <mat-slide-toggle formControlName="active"></mat-slide-toggle>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>
